# yaml-language-server: $schema=https://json.schemastore.org/clangd.json

CompileFlags:
    Add:
        [
            "-xc",
            "-std=c23",
            "-Wall",
            "-I/usr/x86_64-w64-mingw32/sys-root/mingw/include",
            "-I/opt/devkitpro/libctru/include",
            "-I/opt/devkitpro/libnds/include",
            "-fdeclspec",
            "-D_WIN32",
        ]
