# yaml-language-server: $schema=https://json.schemastore.org/clangd.json

CompileFlags:
  Add:
    - "-xc"
    - "-std=c23"
    - "-Wall"
    - "--target=x86_64-w64-windows-gnu"
    - "-isystem/usr/x86_64-w64-mingw32/sys-root/mingw/include"
    - "-isystem/usr/x86_64-w64-mingw32/sys-root/mingw/include/c++"
    - "-I/usr/include"
